.App {
  text-align: center;
}

.App-container {
  background-color: #946e3a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.subject-input,
.pdf-input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.content-textarea {
  width: 100%;
  height: 150px;
  margin: 20px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.response-text {
  width: 45%;
  margin-left: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #333;
  text-align: left;
  max-height: 350px;
  overflow-y: auto;
}

.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #61dafb;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 35px;
}

.submit-button:hover {
  background-color: #21a1f1;
}

.file-drop-zone {
  border: 2px dashed #ccc;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.file-drop-zone.drag-active {
  border-color: #007bff;
  background-color: rgba(0, 123, 255, 0.1);
}

.file-drop-zone input {
  display: none;
}

.upload-form {
  margin-top: 35px;
  width: 500px;
}

.file-input-container {
  display: flex;
}

h2 {
  color: #946e3a;
  padding-left: 1remx;
}

.classification-list {
  padding-left: 2rem;
}

li {
  list-style: none;
}

.clear-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #B5B35C;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.clear-button:hover {
  background-color: #97965a;
}

.file-result {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.file-result h3 {
  margin: 0 0 10px;
}

.file-result ul {
  margin: 5px 0 0;
  padding-left: 20px;
}

.file-result p {
  margin: 5px 0;
}